<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Simulacion logica.</title>
</head>
<body>
  <section id="welcome">
    <header>   
      <nav class ="menu">
        <a href="index.html">Inicio</a>
        <a href="teoria.html">Teoria</a>
        <a href="simulacion.html">Simulacion</a>
        <a href="aplicaciones.html">Aplicaciones</a>
      </nav>
    </header>

    <div class="contenido">
      <div class="texto">
        <h1>Simulador Logica: Clasico vs Cuantico</h1>
        <p>Explora cómo funciona la lógica computacional desde los bits hasta los qubits.</p>
        <a href="simulacion.html" class="button">Explorar simulador</a>
      </div>
      <div class="imagenes">
        <img src="../static/img/bit_icon.png" alt="Bit clásico">
        <img src="../static/img/qubit_icon.png" alt="Qubit cuántico">
      </div>
    </div>

    <footer>
      <p>&copy; 2025 Proyecto final – Física para Informática</p>
    </footer>
  </section>

</body>
</html>