<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Simulacion logica.</title>
</head>
<body>
  <section id="welcome">
    <header>   
      <nav class ="menu">
        <a href="index.html">Inicio</a>
        <a href="teoria.html">Teoria</a>
        <a href="simulacion.html">Simulacion</a>
        <a href="aplicaciones.html">Aplicaciones</a>
      </nav>
    </header>

    <main class="teoria-container">
      <h1>Simulador Lógico: Clásico vs Cuántico</h1>
      <h2>Introducción a la Teoría</h2>
      <p>En esta sección conocerás los principios básicos que diferencian la lógica clásica de la lógica cuántica en informática.</p>

      <div class="comparacion">
        <section class="logica clasica">
          <h3>Lógica Clásica</h3>
          <ul>
            <li>Usa <strong>bits</strong> que pueden valer solo 0 o 1.</li>
            <li>Opera con puertas lógicas: AND, OR, NOT.</li>
            <li>Base de la computación tradicional.</li>
            <li>Ejemplo: <code>1 AND 0 = 0</code></li>
          </ul>
        </section>

        <section class="logica cuantica">
          <h3>Lógica Cuántica</h3>
          <ul>
            <li>Usa <strong>qubits</strong> que pueden estar en 0, 1 o en superposición.</li>
            <li>Opera con puertas cuánticas: Hadamard, Pauli-X.</li>
            <li>Permite procesamiento paralelo.</li>
            <li>Ejemplo: Hadamard |0⟩ → superposición</li>
          </ul>
        </section>
      </div>
    </main>

    <footer>
      <p>&copy; 2025 Proyecto final – Física para Informática</p>
    </footer>
  </section>
</body>
</html>
